.container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

body {
  font-size: 1.6rem;
  color: #fff;
}

nav > div {
  margin-top: 1.6rem;
  background-color: #fb7185;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  user-select: none;
}

.flex {
  display: flex;
  justify-content: space-between;
  gap: 10rem;
}

.flex > li {
  list-style-type: none;
  background-color: #4c1d95;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 10rem;

  transition: all;
  transition-duration: 0.4s;
}

.flex > li:hover {
  background-color: #8b5cf6;
}

.flex > li > a {
  text-decoration: none;
  color: #fff;
}

.bus {
  stroke: #df6714;
  margin-bottom: 3rem;
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 3rem;
  left: 2rem;
}
