.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.entrada {
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  outline: none;

  width: 80%;
  text-align: center;
  font-size: 2.4rem;
}

.entradaComErro {
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  outline: none;

  width: 80%;
  text-align: center;
  font-size: 2.4rem;

  color: #ef4444;
  border: #ef4444;
}

.entrada:hover,
.entrada:active {
  border-bottom: 1px solid black;
}

.botao {
  width: 80%;
  margin: auto;
  padding: 2rem;

  border: none;
  border-radius: 1rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.8);
  transition: all 0.2s;

  cursor: pointer;

  background-color: #8b5cf6;
  color: #fff;

  font-weight: 700;
}

.botao:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 1);
}

.valorDePessoasUltrapassado {
  color: #ef4444;

  margin-top: -0.3rem;

  font-size: 1.2rem;
}

/* entradas apareceram no sistema */

.flex {
  display: flex;
  gap: 1rem;
}

.flex > input {
  padding: 1rem;
  border-end-end-radius: 1rem;
  border: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);

  outline: none;
}

.numeroDoPassageiro {
  font-size: 1rem;
}
